* {
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    border: 2px solid #41719C;
    width: 600px;
    padding: 30px 50px 40px;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    column-gap: 20px;
    margin: 15px 10px;
    height: 45px;
}

.label 
{
    background-color: #4F81BD;
    padding: 10px;
    min-width: 150px;
    border: 2px solid #41719C;
    color: white;
    text-align: center;
}

select {
    min-width: 45px;
}

input, select {
    border: 2px solid #41719C;
}

input[type="text"] 
{
    padding: 10px;
    border-radius: 0;
    width: 100%;
}

input[type="radio"] 
{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: #4F81BD;
    margin-top: 13px;
}

input[type="radio"]:checked
{
    background-color: #41719C;
}

label
{
    padding-top: 13px;
}

.center {
    display: flex;
    justify-content: center;
}

input[type="file"] {
    border: none;
    padding-top: 10px;
}

img {
    height: 100px;
}

.btn {
    color: white;
    padding: 10px;
    width: 150px;
    margin-top: 10px;
    background-color: #4F81BD;
    border-radius: 10px;
    border: 2px solid #41719C;
}

.w-100 {
    width: 100%;
}

.w-75 {
    width: 75%;
}

.w-65 {
    width: 65%;
}

.text {
    padding-top: 10px;
}

.validation-errors {
    margin: 15px 10px;
}

.error {
    color: red;
}

.ml-20 {
    margin-left: 20px;
}

.mr-20 {
    margin-right: 20px;
}

.mh-25 {
    max-height: 25px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-25 {
    margin-top: 25px;
}

.filter-label {
    padding: 10px;
    min-width: 100px;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
}

.flex-space-around {
    display: flex;
    justify-content: space-around;
}

td {
    text-align: center;
}

.table-btn {
    background-color: #96B1D8;
    color: white;
    padding: 5px 10px;
}

a {
    text-decoration: none;
}

.filter-input {
    background-color: #E1EAF4;
    width: 245px;
}